pipeline/pl_source_to_landing_zone_child.json
{
	"name": "pl_source_to_landing_zone_child",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT SourceSchemaName\r\n\t,SourceTableName\r\n\t,SourceQuery + CASE \r\n\t\tWHEN LastWatermarkValue IS NULL\r\n\t\t\tAND WatermarkDataType = 'DATETIME'\r\n\t\t\tTHEN '01/01/1900'\r\n\t\tWHEN LastWatermarkValue IS NULL\r\n\t\t\tAND WatermarkDataType = 'INT'\r\n\t\t\tTHEN '0'\r\n\t\tWHEN LastWatermarkValue IS NULL\r\n\t\t\tAND WatermarkDataType = 'N/A'\r\n\t\t\tTHEN ''\r\n\t\tELSE LastWatermarkValue\r\n\t\tEND AS SourceQuery,\r\n\t\tSourceName\r\nFROM [IncrementalLoadMetadata]\r\nWHERE SourceName = 'sqlServer'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azureSql_db_IncmtlTbl",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dbo",
							"TableName": "IncrementalLoadMetadata"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@item().SourceQuery",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_OnPrem_sqlserver",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adlsGen2",
									"type": "DatasetReference",
									"parameters": {
										"Directory": {
											"value": "@concat('staging/',item().SourceName,'/tempcsv/')",
											"type": "Expression"
										},
										"FILENAME": {
											"value": "@concat(item().SourceTableName,'.csv')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-07-10T15:45:19Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}